.btn_wrap {
    width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
.btn_wrap .vote_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 투표창 디자인 */
.vote_contents_area_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 100;
}
#vote_contents_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 500px;
    border-radius: 10px;
    background-color: #fff;
}
#vote_contents_area input {
    display: block;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    background: none;
}
#vote_contents_area input:focus {outline: none;}
#vote_contents_area .close_vote_contents {
    /* 닫기버튼 */
    margin-bottom: 20px;
    align-self: flex-end;
    cursor: pointer;
}
#vote_contents_area .top_title {
    padding: 20px 10px;
    border-bottom: 2px solid #000;
}
#vote_contents_area .top_title input {font-size: 16px;}
#vote_contents_area .vote_inputs .vote_list {
    margin: 20px 0;
}
#vote_contents_area .vote_inputs .vote_list li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px 20px;
}
#vote_contents_area .vote_inputs .vote_list li:last-child {margin: 0;}
#vote_contents_area .vote_inputs .vote_list li .remove_item {
    cursor: pointer;
}
/* 항목 추가 버튼 */
#vote_contents_area .vote_inputs .vote_input_add {

}
#vote_contents_area .vote_inputs .vote_input_add #addItem {
    padding: 10px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #eee;
    cursor: pointer;
}
#vote_contents_area .vote_inputs > p {
    margin: 15px 0;
    font-size: 12px;
}
#vote_contents_area .vote_inputs .vote_contents_create {}
#vote_contents_area .vote_inputs .vote_contents_create #createVote,
#vote_contents_area .vote_inputs .vote_contents_create #editVote {
    padding: 10px 0;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: #000;
    cursor: pointer;
}

/* vote_result_area 항목 추가 완료 */
.vote_result_area {
    width: 800px;
    margin: 100px auto;
}
.vote_result_area .top_tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    height: 30px;
}
.vote_result_area .top_tit .tit {
    font-size: 16px;
    font-weight: 600;
}
.vote_result_area .vote_val_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vote_result_area .vote_val_list li {
    
}
.vote_result_area .vote_val_list li .vote_option {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.vote_result_area .vote_val_list li .vote_option.active {
    border-color: #000;
}
.vote_result_area .vote_val_list li .vote_option > span:not(.vote_fill) {
    position: relative;
    z-index: 10;
}
/* ============================= */
.vote_fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s ease-in-out;
    z-index: 5;
}
.vote_text {
    position: relative;
    z-index: 1;
}
.percent {
    color: #666;
}